<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <!-- CSS Section -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">

  <!-- Custom CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" 
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" href="#" title="Massive Survey">
            <img style="max-width:100px; margin-top: -7px;" 
                 src="/images/logo.jpg" alt="Massive Survey">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          
          <% if(title == "Massive Survey" ) { %>
            <li class="active"> <% } else { %> <li> <% } %>
            <a href="/">Home</a>
            </li>

          <li role="separator" class="divider"></li>
          
          <!-- If a registered user is logged in -->
          <% if (displayName) { %>

            <% if(title == "Analysis" ) { %>
            <li class="active"> <% } else { %> <li> <% } %>
              <a href="/analysis">Analysis</a>
            </li>

            <% if(title == "Users" ) { %>
              <li class="active"> <% } else { %> <li> <% } %>
              <a href="/users">Hello, <%= displayName %></a>
            </li>

            <li><a href="/logout">Logout</a></li>
            
          <!-- For anonymous user -->
          <% } else { %>
            
            <% if(title == "Register" ) { %>
            <li class="active"> <% } else { %> <li> <% } %>
              <a href="/register">Register</a>
            </li>

            <% if(title == "Login" ) { %>
            <li class="active"> <% } else { %> <li> <% } %>
              <a href="/login">Login</a>
            </li>

          <% } %>

          <% if(title == "My Survey List" ) { %>
          <li class="active"> <% } else { %> <li> <% } %>
            <a href="/mySurvey">My Survey</a>
          </li>

        </ul> <!-- nav navbar-nav navbar-right -->
      </div> <!-- collapse navbar-collapse -->
    </div> <!-- container-fluid -->
  </nav> <!-- navbar navbar-inverse -->