<%- include partials/header.ejs %>


<h1><%= title %></h1>

<p>Welcome to <%= title %>  </p>
<!-- 还待完成 -->
<h1 id="total">Question: </h1>
<h1>Short Answer: </h1>
<h1>True False: </h1>
<h1>Multiple Choice: </h1>

<!-- 按键就会触发事件 -->
 
<input type="submit" name="multiple" id="multiple" value="AddMul" />
<input type="submit" name="multiple" id="truefalse" value="truefalse" />
<input type="submit" name="multiple" id="shortanswer" value="shortanswer" />

<form name="myForm" id="myForm">
    
</form>

<form name="test" method="post" >
    <label for="mul">多选</label>
    <div>
        <input type="text" name="title" />
        <label for="a">选项1</label>
        <input type="text" name='option1' />
        <label for="b">选项2</label>
        <input type="text" name='option2'/>
        <label for="c">选项3</label>
        <input type="text" name='option3' />
    </div>
   <input type="submit" value="OK" name="submit" />
</form>
<script>
    //计数
    var numOfQuestion=0;
    document.getElementById("multiple").onclick = function () {
        // 搜索form
        var form = document.getElementById("myForm");
        // 创建label 和input
        var label = document.createElement("label");
        // 给label text
       label.appendChild(document.createTextNode(numOfQuestion+" "));
        var input = document.createElement("input");
        input.type = "text";
        var br = document.createElement("br");
        // 插入DOM
        form.appendChild(label);
        form.appendChild(input);
        form.appendChild(br);
        numOfQuestion++;
        document.getElementById("total").innerHTML = "Qestion:" + numOfQuestion;
    }

    document.getElementById("truefalse").onclick = function () {
        var form = document.getElementById("myForm");
        var label = document.createElement("label");
        label.appendChild(document.createTextNode(numOfQuestion + " "));
        var input = document.createElement("input");
        input.type = "input";
        input.value = "TF";
        var br = document.createElement("br");
        form.appendChild(label);
        form.appendChild(input);
        form.appendChild(br);
        numOfQuestion++;
        document.getElementById("total").innerHTML = "Qestion:" + numOfQuestion;
    }

    document.getElementById("shortanswer").onclick = function () {
        var form = document.getElementById("myForm");
        var label = document.createElement("label");
        label.appendChild(document.createTextNode(numOfQuestion + " "));
        var textarea = document.createElement("textarea");
        textarea.rows = 2;
        var br = document.createElement("br");
        form.appendChild(label);
        form.appendChild(textarea);
        form.appendChild(br);
        numOfQuestion++;
        document.getElementById("total").innerHTML = "Qestion:" + numOfQuestion;
    }

</script>
