<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <form method="post" action="test2.html">
        <fieldset class="form-group">
            <input type="radio" name="5669ce4e0752572c2d0f1205" value="female">female<br>
        </fieldset>
        <fieldset class="form-group">
            <input type="radio" name="5669ce4e0752572c2d0f1205" value="male">male<br>
        </fieldset>
    </form>
    <!-- Submit answers -->
    <button type="submit" class="col-sm-offset-5 btn btn-success">Submit</button>
</body>
</html>
