body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2, h3 {
	text-align: center;
}


/*Restyle to fit logo size*/
.navbar-brand {
    height: 80px;
}

/* line height is 20px so add 30px top and bottom to equal the new .navbar-brand height */
.nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
