body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2, h3 {
	text-align: center;
}


/*Restyle to fit logo size*/
.navbar-brand {
    height: 80px;
}

/* line height is 20px so add 30px top and bottom to equal the new .navbar-brand height */
.nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}


.completed-true {
  text-decoration: line-through;
  color: grey;
}

/*restyling navbar*/
.navbar-default
{
  background-color: transparent;
  border-color: transparent;
  background-image: none;
  background-repeat: none;
  border-radius: none;
  box-shadow: none;
}
.navbar-default .navbar-nav > .active > a, .active {
  color: black;
  background-color: transparent !important;
  background-image: none;
  background-repeat: none;
  box-shadow: none;
}

/*stick question template down to bottom*/
.row-down {
    min-height: 600px;
    position: relative;
  }

  .pull-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
