

    <h5>New Survey</h5>
    <!-- Survey Name -->
    <input type="text" ng-model="surveyName" id="surveyName" placeholder="Survey Name" class="form-control">

    <input type="text" ng-model="category" id="category" placeholder="Category" class="form-control">

    <h5>Two Option</h5>
    <!-- Add Two-Option Questions -->
    <li ng-repeat="twOpt in twOptArry">
        <input type="text" ng-model="twOptionQuestion" placeholder="Enter the question here" />
        <input type="text" ng-model="option1" placeholder="Enter option1 here" />
        <input type="text" ng-model="option2" placeholder="Enter option2 here" />
        <span>
            <a href ng-click="twOptArry.splice($index, 1)">remove this question</a>
        </span>
    <li>
        <a href ng-click="AddTwoOptionQuestion()">New Two-Option Question</a>
    </li>
    </li>

