<% include ../partials/header.ejs %>

<div class="container outer-semitransparent add-top-padding">
    <ng-view></ng-view>
</div> <!-- container -->
<script type="text/ng-template" id="/surveys.html">
    <div class="panel panel-default" ng-init="setUserName('<%= username %>')">
        <div class="panel-heading">
            <h1 class="panel-title big-heading"><%= title %></h1>
        </div> <!-- panel-heading -->
        <div class="panel-body">
        	<div class="row">
                <div class="col-md-6 col-md-offset-3">
		            <h4 class="text-center">
		            	<span class="badge"><i>{{remainingSurveys()}}</i></span> surveys open <br /> 
		            	<span class="badge"><i>{{totalSurveys()}}</i></span> surveys in total
		        	</h4>
		            <h5>Search:</h5>
		            <input type="text" ng-model="search" id="searchSurvey" placeholder="Find my survey" class="form-control">
                    <ul class="list-group">
                        <li class="list-group-item active">Current Surveys</li>
                        <li ng-repeat="survey in surveys | filter: search | filter: {username: '<%= username %>'}" class="list-group-item">
                            <div class="btn-group">
                                <button type="button" ng-show="!editing[$index]" ng-click="edit($index)" class="btn btn-default "><i class="fa fa-edit"></i></button>
                            </div> <!-- btn-group -->
                            <span ng-show="editing[$index]">expired?</span>
                            <input type="checkbox" ng-model="survey.expired" ng-change="update($index)">
                            <span class="surveys">
                                <a ng-show="!editing[$index]" href="#/{{survey._id}}" class="completed-{{survey.expired}}">{{survey.name}}</a>
                            </span>
                            <p ng-show="editing[$index]">Survey Name:</p>
                            <input ng-show="editing[$index]" type="text" ng-model="survey.name" class="form-control">
                            <p ng-show="editing[$index]">Category:</p>
                            <input type="text" ng-show="editing[$index]" ng-model="survey.category" placeholder="Category" class="form-control">
                            <br>
                            <p ng-show="editing[$index]">description:</p>
                            <textarea ng-show="editing[$index]" ng-model="survey.description" class="form-control"></textarea>
                                                    
                            <div class="form-group text-center">
                                <div class="btn-group">
                                    <button type="button" ng-show="editing[$index]" ng-click="update($index)" class="btn btn-warning">update</button>
                                    <button type="button" ng-show="editing[$index]" ng-click="remove($index)" class="btn btn-danger">remove</button>
                                    <button type="button" ng-show="editing[$index]" ng-click="cancel($index)" class="btn btn-default">cancel</button>
                                </div>
                            </div> <!-- btn-group -->
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->

    <div class="panel panel-default outer-semitransparent">
        <div class="panel-heading">
            <h1 class="panel-title big-heading">Create a New Survey</h1>
        </div> <!-- panel-heading -->
        <div class="panel-body row">
            <!-- Survey Name -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
    	            <input type="text" ng-model="surveyName" id="surveyName" placeholder="Survey Name" class="form-control" required>
    	            <input type="text" ng-model="category" id="category" placeholder="Category" class="form-control" required>            
                    <textarea rows="3" class="form-control" ng-model="description" placeholder="Description"></textarea>                 
                </div>
            </div>
            <!-- Dynamically Adding Questions & Options -->
            <div class="row row-down">
                <!-- Question templates -->
                <div class="col-md-6 pull-bottom">
                    <!-- Add Two-Option Questions -->
                    <div class="panel panel-default panel-custom">
                      <div class="panel-heading">
                        <h3 class="panel-title">Two Option</h3>
                      </div>
                      <div class="panel-body">
                        <div>
                            <input type="text" ng-model="twOptionQue" placeholder="Enter the question here" class="form-control question-bold" />
                        </div>
                        <input type="text" ng-model="option1" placeholder="Enter option1 here" class="form-control" />
                        <input type="text" ng-model="option2" placeholder="Enter option2 here" class="form-control" />
                        <div class="text-center">
                            <button type="button" ng-click="addTwoOptionQuestion()" class="btn btn-primary">Add Question</button>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="panel panel-default panel-custom">
                      <div class="panel-heading">
                        <h3 class="panel-title">Multiple Choice</h3>
                      </div>
                      <div class="panel-body">
                        <div>
                            <input type="text" ng-model="mulQue" placeholder="Enter the question here"  class="form-control question-bold"/>
                        </div>
                        <div ng-repeat="mulOpt in mulOptArry track by $index" class="row">
                            <div class="col-md-10">
                                <input type="text" ng-model="mulOptArry[$index]" placeholder="Enter option here" class="form-control" required />
                            </div>
                            <button type="button" ng-click="mulOptArry.splice($index, 1)" class="btn btn-danger">remove</button>
                        </div>
                        <div>
                            <button type="button" ng-click="addOption()" class="btn btn-info">add option</button>
                        </div>
                        <div class="text-center">
                            <button type="button" ng-click="addMultipleOptionQuestion()" class="btn btn-primary">Add Question</button>
                        </div>
                      </div>
                    </div>
                    
                    <!-- Add Short-Answer Questions -->
                    <div class="panel panel-default panel-custom">
                      <div class="panel-heading">
                        <h3 class="panel-title">Short Answer</h3>
                      </div>
                      <div class="panel-body">
                        <div>
                            <input type="text" ng-model="shortAnswer" placeholder="Enter the question here" class="form-control question-bold" />
                        </div>
                        <div class="text-center">
                            <button type="button" ng-click="addShortAnswer()" class="btn btn-primary">Add Question</button>
                        </div>
                      </div>
                    </div>

                </div>

                <!-- dynamically preview the new survey-->
                <div class="col-md-6">
                    <form>
                        <fieldset>
                            <legend ng-show="twOptArry.length">TWO OPTION</legend>
                            <div ng-repeat="twOpt in twOptArry">
                                <label>{{twOpt.twOptionQue}}</label>
                                <div>
                                    <input type="radio" ng-model="twOpt.id" ng-value="twOpt.option1" >{{twOpt.option1}}<br>
                                    <input type="radio" ng-model="twOpt.id" ng-value="twOpt.option2" >{{twOpt.option2}}
                                </div>
                                <div>
                                    <button type="button" ng-click="twOptArry.splice($index, 1)" class="btn btn-danger">remove</button>
                                </div>
                                <hr />
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend ng-show="mulQueArry.length">MULTIPLE CHOICE</legend>
                            <div ng-repeat="mul in mulQueArry">
                                <label>{{mul.mulQue}}</label>
                                <div ng-repeat="mulOpt in mul.mulOpt track by $index">
                                    <input type="radio" ng-model="mul._id" ng-value="mulOpt" >
                                    {{mulOpt }}<br />
                                </div>
                                <div>
                                    <button type="button" ng-click="mulQueArry.splice($index, 1)" class="btn btn-danger">remove</button>
                                </div>
                            </div>
                        </fieldset>
                        <!-- ! 添加同名问题时报错-->
                        <fieldset>
                            <legend ng-show="shortAnswerArry.length">SHORT ANSWER</legend>
                            <div ng-repeat="i in shortAnswerArry">
                                <label>{{i}}</label>
                                <div>
                                    <textarea rows="3" placeholder="here to say..." class="form-control"></textarea>
                                </div>
                                <div>
                                    <button type="button" ng-click="shortAnswerArry.splice($index, 1)" class="btn btn-danger">remove</button>
                                </div>
                                <hr />
                            </div>
                        </fieldset>
                    </form>
                </div><!--End of preview-->
            </div>
            <hr />
            <div class="form-group col-md-12 center-block text-center">
                <button type="button" ng-click="save()" class="btn btn-success btn-lg">Create Survey</button>
            </div>
        </div> <!-- panel-body -->
    </div> <!-- panel panel-default -->
</script>

<!-- survey detail -->
<script type="text/ng-template" id="/surveyDetails.html">

    <div class="panel panel-default col-xs-10 col-xs-offset-1">
        <div class="panel-heading">
            <h1 class="panel-title big-heading">{{ survey.name }}</h1>
        </div><!-- panel-heading -->
        <div class="panel-body">
            <div class="row">                
	            <!-- question template-->
	            <div class="col-xs-4 form-group row text-center">            
	                <h4>Two Option</h4>
	                <!-- Add Two-Option Questions -->
	                <div>
	                    <input type="text" ng-model="twOptionQue" placeholder="Enter the question here" class="form-control" />
	                </div>
	                <input type="text" ng-model="option1" placeholder="Enter option1 here" class="form-control" />
	                <input type="text" ng-model="option2" placeholder="Enter option2 here" class="form-control" />
	                <div>
	                    <button type="button" ng-click="addTwoOptionQuestion()" class="btn btn-primary">Add</button>
	                </div>
	                <hr />
	                <h4>Multiple Choice</h4>
	                <!-- Add Multiple Choice Questions -->	                
	                <div>
	                    <input type="text" ng-model="mulQue" placeholder="Enter the question here" class="form-control" />
	                </div>	                
	                <div class="row">
		                <div ng-repeat="mulOpt in mulOptArry track by $index">
		                	<div class="col-xs-9">
		                    	<input class="form-control" type="text" ng-model="mulOptArry[$index]" placeholder="Enter option here"/>
		                    </div>
		                    <button type="button" ng-click="mulOptArry.splice($index, 1)" class="btn btn-danger">remove</button>
		                </div>
	                </div>
	                <div>
	                    <button type="button" ng-click="addOption()" class="btn btn-info">add option</button>
	                </div>
	                <div>
	                    <button type="button" ng-click="addMultipleOptionQuestion()" class="btn btn-primary">Add</button>
	                </div>	                
	                <h4>Short Answer</h4>
	                <!-- Add Short Answer Questions -->
	                <div>
	                    <input type="text" ng-model="shortAnswer" placeholder="Enter the question here" class="form-control"/>
	                </div>
	                <div>
	                    <button type="button" ng-click="addShortAnswer()" class="btn btn-primary">Add</button>
	                </div>
	                <hr />
	            </div>
	            <!-- end of template-->
	            <!-- display current survey-->
	            <div class="col-xs-6 col-xs-offset-1">
	                <form>
	                    <fieldset>
	                        <legend ng-show="survey.twoOption.length">TWO OPTION</legend>
	                        <div ng-repeat="twOpt in survey.twoOption">
	                            <label>{{twOpt.twOptionQue}}</label>
	                            <div>
	                                <input type="radio" ng-model="twOpt.id" ng-value="twOpt.option1">{{twOpt.option1}}<br>
	                                <input type="radio" ng-model="twOpt.id" ng-value="twOpt.option2">{{twOpt.option2}}
	                            </div>
	                            <div>
	                                <button type="button" ng-click="survey.twoOption.splice($index, 1)" class="btn btn-danger">remove</button>
	                            </div>
	                            <hr />
	                        </div>
	                    </fieldset>
	                    <fieldset>
	                        <legend ng-show="survey.multipleChoice.length">MULTIPLE CHOICE</legend>
	                        <div ng-repeat="mul in survey.multipleChoice">
	                            <label>{{mul.mulQue}}</label>
	                            <div ng-repeat="mulOpt in mul.mulOpt track by $index">
	                                <input type="radio" ng-model="mul._id" ng-value="mulOpt">
	                                {{mulOpt }}<br />
	                            </div>
	                            <div>
	                                <button type="button" ng-click="survey.multipleChoice.splice($index, 1)" class="btn btn-danger">remove</button>
	                            </div>
	                            <hr />
	                        </div>
	                    </fieldset>
	                    <fieldset>
	                        <legend ng-show="survey.shortAnswer.length">SHORT ANSWER</legend>
	                        <div ng-repeat="i in survey.shortAnswer">
	                            <label>{{i}}</label>
	                            <div>
	                                <textarea rows="3" placeholder="here to say..." class="form-control"></textarea>
	                            </div>
	                            <div>
	                                <button type="button" ng-click="survey.shortAnswer.splice($index, 1)" class="btn btn-danger">remove</button>
	                            </div>
	                        </div>
	                    </fieldset>
	                </form>
	            </div>
            </div> <!-- row -->
        </div> <!-- panel-body -->
        <hr />
        <fieldset class="form-group col-md-12 text-center">
            <div class="btn-group">
                <button type="button" ng-click="update()" class="btn btn-warning">update</button>
                <button type="button" ng-click="remove()" class="btn btn-danger">remove</button>
                <button type="button" ng-click="cancel()" class="btn btn-default">cancel</button>
            </div> 
        </fieldset><!-- btn-group -->
    </div> <!-- panel panel-default -->
</script>
    <% include ../partials/boot.ejs %>
    <% include ../partials/nglib.ejs %>
    <% include ../partials/footer.ejs %>

